body{
	background-color:#E5E5E5;
}
.urlstyle:link, .urlstyle:visited {
	color:#bf4949;
}
.icons-style{
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
}
.card{
	margin: 18px 8px 8px 8px;
}
.profileimg{
	margin: auto;
	margin-top: 20px;
	padding:10px 10px 10px 10px;
}
.date-list{
	display: inline-block;
	border-radius: 25px;
	padding: 2px 8px 2px 8px;
	color: white;
}

.red-bg{
	background:#bf4949;
}
.green-bg{
	background:#4daf86;
}
.footer{
	margin-bottom:0;
}